attr==0.3.2
brotli==1.1.0
ConfigParser==6.0.0
cryptography==42.0.1
cupy==13.0.0
Cython==3.0.8
dl==0.1.0
docutils==0.20.1
easydict==1.11
HTMLParser==0.0.2
importlib_metadata==7.0.1
ipywidgets==8.1.1
Jinja2==3.1.2
jnius==1.1.0
keyring==24.3.0
lockfile==0.12.2
lxml==5.1.0
numpy==1.26.3
opencv_python==4.8.1.78
ordereddict==1.1
Pillow==10.0.1
Pillow==10.2.0
protobuf==4.25.2
pyOpenSSL==24.0.0
railroad==0.5.0
scipy==1.12.0
skimage==0.0
Sphinx==7.2.6
thread==0.1.3
toml==0.10.2
torch==2.1.1
torch_scatter==2.1.2
torchvision==0.16.1
tornado==6.4
xmlrpclib==1.0.1
zipp==3.17.0
